@import "~react-datepicker/dist/react-datepicker.css";
@import '~bootstrap/dist/css/bootstrap.min.css';
@import "~@fortawesome/fontawesome-free/css/all.min.css";

@import 'variables';

body {
  background-color: $favColor;
}

.edbtn {
  width: 16rem;
  margin: 2px;
}

.versions {
  background-color: white;
}
